.hero {
  min-height: calc(100vh - 6.5rem);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  overflow-x: hidden;
  padding: 0 20px;
  /* background: url(/public/front_end_builder.png) no-repeat;
  background-size: 40%;
  background-position: right 20px center; */
}

.heroWrapper {
  max-width: 55%;
}

.heroName {
  font-size: 2.8rem;
  color: var(--secondary-color);
  line-height: 1.75;
}

.heroName p {
  width: fit-content;
}
.heroName span {
  display: inline-block;
  width: fit-content;
  font-size: 3.5rem;
}

.greet {
  color: var(--secondary-color);
}
.name {
  font-size: 3.2rem;
  color: transparent;
  font-weight: bold;
  -webkit-background-clip: text;
  background-clip: text;
  /* background-image: linear-gradient(90deg, #fff 0%, var(--accent-color) 100%); */
  /* background-image: linear-gradient(90deg, #007bff, #0056b3); */
  /* background-image: linear-gradient(90deg, #007bff, #0056b3, #003980, #001f4d); */
  background-image: linear-gradient(
    90deg,
    #007bff 0%,
    #0056b3 25%,
    #003980 50%,
    #001f4d 100%
  );
}
.text {
  width: 100%;
  color: var(--sub-color);
  text-align: justify;
  /* color: var(--accent-color); */
}

.image {
  max-width: 40%;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    /* gap: 8rem; */
    gap: 0rem;
    /* justify-content: center; */
    justify-content: space-evenly;
    /* background-size: 55%;
    background-position: center bottom 70px;
    padding-top: 15rem; */
  }
  .heroWrapper {
    max-width: 100%;
  }

  .image {
    max-width: 70%;
  }
}
