.heroName {
  font-size: 39px;
  color: var(--secondary-color);
}

.heroName p {
  width: fit-content;
}

.greet {
  color: var(--secondary-color);
}
.name {
  color: transparent;
  font-weight: bold;
  -webkit-background-clip: text;
  background-clip: text;
  /* background-image: linear-gradient(90deg, #fff 0%, var(--accent-color) 100%); */
  /* background-image: linear-gradient(90deg, #007bff, #0056b3); */
  /* background-image: linear-gradient(90deg, #007bff, #0056b3, #003980, #001f4d); */
  background-image: linear-gradient(
    90deg,
    #007bff 0%,
    #0056b3 25%,
    #003980 50%,
    #001f4d 100%
  );
}
