.techSection {
  padding-block: 5rem;
}

.skillSet {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  margin-top: 4.5rem;
}
.skillList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 2rem;
}

.skillList img {
  max-width: 7rem;
}

@media screen and (max-width: 768px) {
  .skillList img {
    max-width: 5rem;
  }

  .skillList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
  }
}
